body {
 
  background-image: url("/wallpapersden.com_pokemon-pikachu-art_1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

